@charset "utf-8";
/* CSS Document */

@media screen  and (min-width: 601px) and (max-width: 1000px) {
	


body

{
	font-family: poppins;
}


header
{
	width: 100%;
	background-color: white;
	font-family: poppins;
	float: left;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 5;
}



.title
{
	float: left;
	font-size: 15px;
	font-weight: 200;
	margin: 0 0 0 120px;
	padding: 22px 0 0 0;
	
}

.title a
{
	color: gray;
	text-decoration: none;
}


.navi nav
{
	float: left;
	margin: 5px 0 0 100px;
}


.navi nav ul
{

	
	word-spacing: 10px;
	padding: 0;
}

.navi nav ul li
{
	display: inline;
}

.navi nav ul li a
{
	text-decoration: none;
	font-weight: 300;
	font-size: 10px;
	color: black;
}


.navi a:hover

{
	color: darkblue;
}

.navi span
{
	font-size: 8px;
}


.search
{
	float: left;
	margin-top: 24px;
	margin-left: 40px;
}

.tabicon
{
	width: 15px;
}

.menu-btn{
	display: none;
}

.sidebar{
	display: none;
}


/*end end end*/
/*end end end*/
/*end end end*/
/*end end end*/
/*end end end*/
/*end end end*/


.banner
{
	width: 100%;
	height: 740px;
	background-image: url("../images/pexels-matt-hardy-1533720.jpg");
	background-size: cover;
	background-attachment: fixed;
}


.glass
{
	background-color: rgba(0,0,0,0.71);
	width: 100%;
	height: 740px;
	background-size: cover;
	background-attachment: fixed;
	
	/*position: absolute;
	position: fixed;
	top: 0;
	left: 0;*/
}


.heading
{
	width: 100%;
	position: absolute;
	top: 300px;
	left: 0;
	text-align: center;
}

.tagline
{
	width: 100%;
	font-size: 40px;
	font-weight: 300;
	color: white;
}

.subline
{
	font-size: 15px;
	color: white;
}




.buttonA a
{
	text-decoration: none;
	color: white;
	background-color: #745CF9;
	float: left;
	margin: 20px 0 0 35%;
	padding: 15px 15px;
	font-size: 15px;
	font-weight: 600;
	border: 1px solid #745CF9;
}


.buttonA a:hover
{
	background-color: rgba(98,3,108,0.0);
	transition-duration: 1s;
}


.buttonB a
{
	text-decoration: none;
	color: white;
	background-color: rgba(255,255,255,0.00);
	float: left;
	margin: 20px 0 0 20px;
	padding: 15px 15px;
	font-size: 15px;
	font-weight: 600;
	border: 1px solid white;
}

.buttonB a:hover
{
	background-color: white;
	color: black;
	transition-duration: 1s;
		
}



/*end end end*/
/*end end end*/
/*end end end*/
/*end end end*/
/*end end end*/
/*end end end*/




.seo
{
	width: 100%;
	height: 450px;
	font-family: poppins;
	background-color: white;
}

.png
{
	width: 60%;
	float: left;
}

.lap
{
	width: 100%;
	height: 50%;
}

.textarea
{
	width: 40%;
	float: left;
}

.readmore
{
	background-color: #5D47D7;
	width: 30%;
	text-align: center;
	margin-top: 30px;
	padding: 10px 0;
}


.textarea a
{
	color: white;
	text-decoration: none;

}

.friendly
{
	font-size: 25px;
	margin: 100px 0 0 20px;
}


.para
{
	font-size: 12px;
	margin: 10px 20px 0 20px;
	color: gray;
	line-height: 25px;
}




/*end end end*/
/*end end end*/
/*end end end*/
/*end end end*/
/*end end end*/
/*end end end*/


.port
{
	width: 100%;
	height: 480px;
	font-family: poppins;
	background-color: #F5F5F5;
}


.area

{
	position: absolute;
	width: 40%;
	height: 450px;
	float: left;
}


.portfoilo

{
	font-size: 25px;
	color: black;
	margin-top: 100px;
}


.lines
{
	font-size: 12px;
	margin: 10px 20px 0 60px;
	color: gray;
	line-height: 25px;
}

.action
{
	background-color: #5D47D7;
	width: 50%;
	text-align: center;
	margin: 30px 0 0 60px;
	padding: 10px 0;
}

.area a
{
	color: white;
	text-decoration: none;

}


.laptop
{
	position: absolute;
	left: 40%;
	width: 60%;
	float: left;
	height: 450px;
}


.showcase
{
	width: 100%;
	height: 70%;
}



/*end end end*/
/*end end end*/
/*end end end*/
/*end end end*/
/*end end end*/
/*end end end*/


.smallsection
{
	width: 90%;
	height: 600px;
	background-image: url("../images/pexels-emiliano-arano-1298684.jpg");
	background-size: cover;
	background-attachment: fixed;
	text-align: center;
	padding: 0 5%;
	
}


.parallax

{
	font-size: 40px;
	font-weight: 300;
	color: white;
	padding-top: 180px;
	
}


.paras
{
	font-size: 15px;
	color: white;
	margin-top: 100px;
}



.buttonC a

{
	color: white;
	background-color: #745CF9;
	padding: 15px 40px;
	font-size: 15px;
	font-weight: 600;
	text-decoration: none;
}

.buttonC

{
	margin-top: 50px;
}



/*end end end*/
/*end end end*/
/*end end end*/
/*end end end*/
/*end end end*/
/*end end end*/


.hoarding
{
	width: 100%;
	text-align: center;
}


.limit

{
	font-size: 40px;
	font-weight: 300;
	padding-top: 100px;
}

.subtext
{
	font-size: 15px;
	color: gray;
	margin-top: 30px;
}

.buttonD

{
	margin-top: 50px;
}


.buttonD a

{
	color: white;
	background-color: #745CF9;
	padding: 15px 15px;
	font-size: 15px;
	font-weight: 600;
	text-decoration: none;
}


.hoard
{
	margin-top: 50px;
	width: 100%;
}



/*end end end*/
/*end end end*/
/*end end end*/
/*end end end*/
/*end end end*/
/*end end end*/



.prosec
{
	width: 100%;
	height: 1455px;
	background-color: #0E1015;
	text-align: center;
}



.letterbar
{
	font-size: 40px;
	font-weight: 300;
	color: white;
	padding-top: 60px;
}

.letterbar span
{
	font-size: 15px;
	color: gray;
	margin-top: 30px;
}

.top
{
	margin-top: 20px;
}

.top, .middle, .bottom
{
	width: 100%;
	height: 250px;
}


/*.no1,.no2, .no3, .no4, .no5, .no6, .no7, .no8, .no9, .no10
{
	width: 25%;
	height: 250px;
	float: left;
}*/
.no1, .no2, .no3, .no4, .no5, .no6, .no7, .no8, .no9, .no10
{
	width: 100%;
	height: 100%;
	
}
.subbox
{
	width: 50%;
	height: 250px;
	float: left;
	position: relative;
}
.hover
{
	width: 100%;
	height: 250px;
	background-color:rgba(0,0,0,0.71);
	position: absolute;
	opacity: 0;
	top: 0;
	left: 0;
	transition:1s;
}

.serial
{
	font-size: 25px;
	color: white;
	padding-top: 25%;
	
}

.hover:hover
{
	opacity: 1;
}

/*end end end*/
/*end end end*/
/*end end end*/
/*end end end*/
/*end end end*/
/*end end end*/



.custom
{
	width: 100%;
	height: 450px;
	background-image: url("../images/seashore.jpg");
	background-size: cover;
	background-attachment: fixed;
	text-align: center;
}

.customer
{
	font-size: 50px;
	font-weight: 300;
	color: white;
	padding-top: 80px;
}


.below

{
	font-size: 15px;
	color: white;
	margin-top: 60px;
}


.round
{
	width: 80px;
	height: 80px;
	background-color: brown;
	border-radius: 50%;
	margin: 0 auto;
	margin-top: 30px;
}

.reeves

{
	width: 100%;
	height: 100%;
}

.wick
{
	font-size: 15px;
	color: white;
	margin-top: 20px; 
}


/*end end end*/
/*end end end*/
/*end end end*/
/*end end end*/
/*end end end*/
/*end end end*/



.mnc
{
	width: 100%;
	height: 300px;
	text-align: center;
}

.clients
{
	font-size: 50px;
	font-weight: 300;
	padding-top: 50px;
}


.brands
{
	width: 100%;
	margin-top: 40px;
}



.brands nav ul
{
	word-spacing: 100px;

}

.brands nav ul li 
{
	display: inline;
	
	
}

.adobe
{
	width: 50px;
}

.sass
{
	width: 110px;
}


.css
{
	width: 90px;
}

.html
{
	width: 70px;
}



/*end end end*/
/*end end end*/
/*end end end*/
/*end end end*/
/*end end end*/
/*end end end*/


.last
{
	width: 100%;
	height: 200px;
	background-color: #F5F5F5;
}


.lastline
{
	width: 50%;
	font-size: 20px;
	float: left;
	margin-top: 70px;
	margin-left: 75px;
}


.buttonE
{
	float: left;
	margin-top: 70px;
	margin-left: 120px;
}



.buttonE a

{
	color: white;
	background-color: #745CF9;
	padding: 15px 15px;
	font-size: 15px;
	font-weight: 600;
	text-decoration: none;
}


/*end end end*/
/*end end end*/
/*end end end*/
/*end end end*/
/*end end end*/
/*end end end*/






footer

{
	width: 100%;
	height: 200px;
	background-color: #0E1015;
}

.sent

{
	width: 50%;
	height: 200px;
	font-size: 20px;
	float: left;
	color: white;
}

.theme
{
	margin: 90px 0 0 60px;
}

.sent a

{
	text-decoration: none;
	color: white;
}

.sent a:hover

{
	color: #5D47D7;
	transition-duration: 1s;
}

.logos
{
	width: 50%;
	height: 200px;
	float: right;
}


.logos nav ul
{
	word-spacing: 30px;
	margin: 90px 60px 0 0px;
	float: right;

}

.logos nav ul li 
{
	display: inline;
	
	
}


}

/*end end end*/
/*end end end*/
/*end end end*/
/*end end end*/
/*end end end*/
/*end end end*/






